<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Profile</title>
</head>
<body>
    <div class="container">
    <div class="col-lg-3" align="center">
     <br />
  
       <h2 class="text-capitalize" align="center">{{user.username}}'s Profile</h2>
        <li>
            <h4>Username: {{user.username}}</h4>
        </li>
        <li>
            <h4>Email: {{user.email}}</h4>
        </li>
        
        <br />

       <input style = "width : 71%" ng-show= "user.username == currentUser.username" ng-model="person" type="text" class="form-control" placeholder="Enter username to follow">
        <br/>
     <button ng-show= "user.username == currentUser.username" ng-click="getUsers(person)" class="btn btn-warning" type="button">Search</button> 

       <div class="input-group col-lg-4">
            <span class="input-group-btn">
             <button ng-show="user.username != currentUser.username && currentUser.followings.indexOf(user.username) == -1" ng-click="follow(user.username)" class="btn btn-warning" type="button">Follow {{user.username}}</button>

             <button ng-show="currentUser.followings.indexOf(user.username) > -1" " class="btn btn-warning" type="button">Following </button>
           
            
            

            </span>
        </div>

        <br />
        
            <div class="panel-body" ng-show = "user.username == currentUser.username && usernames!=null" style="background-color : rgba(225,237,223,0.90)">
                <li ng-repeat="u in usernames track by $index">
                    <a class="btn btn-link" ng-click="checkFollow(user.username)" >{{u.username}}</a>
                    <button ng-click="follow(u.username)" class="btn btn-warning pull-right" type="button">Follow</button> 
                    <hr />
                </li>
            </div>
       
   
    </div>
    <div class="col-lg-3">
        <br />

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="text-center panel-title text-capitalize">Favourite Books</h3>
            </div>
            <div class="panel-body" style="background-color :rgba(225,237,223,0.90)">
                <ul ng-repeat="book in user.books">
                    <li>
                        <a class="comment-text" ng-click="BookDetail(book)" class="btn btn-link" href="#/book">{{book.title}}</a>
                        <button class="btn btn-danger pull-right" ng-click="RemoveBook($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <hr />
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="text-center panel-title text-capitalize">Following</h3>
            </div>
            <div class="panel-body" style="background-color : rgba(225,237,223,0.90)">
                <li ng-repeat="following in user.followings track by $index">
                    <a class="btn btn-link"  ng-click="checkFollow(following)">{{following}}</a>
                    <button class="btn btn-danger pull-right" ng-click="RemoveFollowing($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    <hr />
                </li>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <br />
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="text-center panel-title text-capitalize">Followers</h3>
            </div>
            <div class="panel-body" style="background-color : rgba(225,237,223,0.90)">
                <li ng-repeat="follower in user.followers track by $index">
                    <a class="btn btn-link" ng-click="checkFollow(follower)">{{follower}}</a>
                    <button class="btn btn-danger pull-right" ng-click="RemoveFollower($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    <hr />
                </li>
            </div>
        </div>
    </div>
 

  
 </div>
</body>
</html>
