<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Login</h2>
            <label for="userName" class="sr-only">User Name</label>
            <input ng-model="username" type="username id="username" class="form-control" placeholder="Username" required autofocus>
            <label for="Password" class="sr-only">Password</label>
            <input ng-model="password" type="password" id="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" id="remember" checked="true" >
                    Remember me
                </label>
            </div>
            <button id="signin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
           
        
        </form>
    </div>
   

</body>
</html>

