<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
 <div class="container">
        <br/><br/>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group">
                <input ng-model="search" type="text" class="form-control" placeholder="Look for ... ( Title / Author / Publisher / ISBN)">
                <span class="input-group-btn">
                    <button ng-click="searchBook()" class="btn btn-warning" type="button">Search</button>
                </span>
            </div>
        </div>
        <br/>
	<br/>		
        <div ng-show="books.length > 0">
            <table class="table" style= "background-color:rgba(225,237,223,0.90)">
                <thead>
                    <tr>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in books">
                        <td style = "width : 25%">
                            <button class="btn btn-danger" ng-click="AddtoBookshelf(book)">
                                <span class="glyphicon glyphicon-heart"></span>
                            </button>
                        </td>
                        <td class="text-center" ng-click="BookDetail(book)">
                            <a class="btn btn-link" href="#/book">{{book.volumeInfo.title}}</a>
     			     <br/>
                            <h5 class="left-padding text-capitalize">{{book.volumeInfo.language}}</h4>
  			     <br/>
 			    <h5 class="left-padding " ng-show="book.volumeInfo.averageRating!=null">{{book.volumeInfo.averageRating}}</h4>
                             <br/>
 			    <h5 class="left-padding " ng-show="book.volumeInfo.pageCount!=null"> {{book.volumeInfo.pageCount}} pages</h4>
                        </td>
                        <td style = "width:100%">
                            <li class="text-center" ng-repeat="author in book.volumeInfo.authors">{{author}}
                            </li>
			    <br/>
 			    <h5 class="left-padding text-center ">{{book.volumeInfo.publisher}}</h4>
                            <br/>
 			    <h5 class="left-padding  text-center"> {{book.volumeInfo.publishedDate}}</h4>

                        </td>
                        <td class="pull-right">
                            <img alt="bookPic" src="{{book.volumeInfo.imageLinks.thumbnail}}" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
